 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/rsz_colleagues.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 888px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 748px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 27px 30px 27px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  border-style: none;
  background-image: none;
  margin: 45px auto 0 0;
  padding: 18px 48px 18px 47px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 748px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 387px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-4 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-text-6 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-8 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 617px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 313px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 52px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-1 .u-text-8 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 67.85% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 476px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 372px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1284px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-8 {
    font-size: 3.75rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 365px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 758px;
  margin: 42px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 42px;
  margin-bottom: 42px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 197px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 13px;
}

.u-section-2 .u-shape-1 {
  width: 50px;
  height: 50px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 450px;
  min-height: 167px;
  margin: -50px auto 0 80px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 13px;
}

.u-section-2 .u-shape-2 {
  width: 50px;
  height: 50px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 450px;
  min-height: 167px;
  margin: -50px auto 0 80px;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 162px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 348px;
    margin-left: 84px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 348px;
    margin-left: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
    margin-top: 41px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 41px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 344px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-group-1 {
    width: 251px;
    min-height: 203px;
    margin-right: 0;
    margin-bottom: -36px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 13px;
  }

  .u-section-2 .u-group-2 {
    width: 251px;
    min-height: 203px;
    margin-right: 0;
    margin-bottom: -36px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: 42px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 42px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 162px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-2 .u-group-1 {
    width: 449px;
    min-height: 160px;
    margin-bottom: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 0;
  }

  .u-section-2 .u-group-2 {
    width: 449px;
    min-height: 160px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 330px;
    margin-top: 20px;
  }

  .u-section-2 .u-group-2 {
    width: 330px;
    margin-top: 20px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1012px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 87px 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto auto;
  margin: 61px 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 680px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 15.625rem;
  font-weight: 900;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: -213px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 40px auto 70px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 15.625rem;
  font-weight: 900;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: -213px auto 0;
}

.u-section-3 .u-text-7 {
  margin: 40px auto 70px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  font-size: 15.625rem;
  font-weight: 900;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: -213px auto 0;
}

.u-section-3 .u-text-10 {
  margin: 40px auto 70px 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-11 {
  font-size: 15.625rem;
  font-weight: 900;
  margin: 0 auto;
}

.u-section-3 .u-text-12 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: -213px auto 0;
}

.u-section-3 .u-text-13 {
  margin: 40px auto 70px 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-14 {
  font-size: 15.625rem;
  font-weight: 900;
  margin: 0 auto;
}

.u-section-3 .u-text-15 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: -213px auto 0;
}

.u-section-3 .u-text-16 {
  margin: 40px auto 70px 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-17 {
  font-size: 15.625rem;
  font-weight: 900;
  margin: 0 auto;
}

.u-section-3 .u-text-18 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: -213px auto 0;
}

.u-section-3 .u-text-19 {
  margin: 40px auto 70px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-3 .u-text-1 {
    width: 565px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2330px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 70px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 88px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1484px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 87px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-list-1 {
    margin-top: 61px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -95px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -95px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-8 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -95px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-11 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: -95px;
  }

  .u-section-3 .u-text-13 {
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-14 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-top: -95px;
  }

  .u-section-3 .u-text-16 {
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-17 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-3 .u-text-18 {
    width: auto;
    margin-top: -95px;
  }

  .u-section-3 .u-text-19 {
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1363px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto auto;
  margin-top: 54px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 17.25px) calc(25% - 17.25px) calc(25% - 17.25px) calc(25% - 17.25px);
  min-height: 1031px;
  grid-gap: 23px 23px;
}

.u-section-4 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 197px;
  height: 197px;
  background-image: url("images/Dragos-square.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 47px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-4 .u-social-icons-1 {
  height: 23px;
  min-height: 16px;
  width: 56px;
  min-width: 42px;
  margin: 30px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 0;
}

.u-section-4 .u-icon-2 {
  height: 0;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 197px;
  height: 197px;
  background-image: url("images/felix_IMG_6507.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  margin: 47px auto 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-4 .u-social-icons-2 {
  height: 23px;
  min-height: 16px;
  width: 56px;
  min-width: 42px;
  margin: 30px auto 0;
}

.u-section-4 .u-icon-3 {
  height: 0;
}

.u-section-4 .u-icon-4 {
  height: 0;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 25px;
}

.u-section-4 .u-image-3 {
  width: 197px;
  height: 197px;
  background-image: url("images/Karina.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  margin: 47px auto 0;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-4 .u-social-icons-3 {
  height: 23px;
  min-height: 16px;
  width: 56px;
  min-width: 42px;
  margin: 30px auto 0;
}

.u-section-4 .u-icon-5 {
  height: 0;
}

.u-section-4 .u-icon-6 {
  height: 0;
}

.u-section-4 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 25px;
}

.u-section-4 .u-image-4 {
  width: 197px;
  height: 197px;
  background-image: url("images/Jonas.jfif");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  margin: 47px auto 0;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-4 .u-social-icons-4 {
  height: 23px;
  min-height: 16px;
  width: 56px;
  min-width: 42px;
  margin: 30px auto 0;
}

.u-section-4 .u-icon-7 {
  height: 0;
}

.u-section-4 .u-icon-8 {
  height: 0;
}

.u-section-4 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 30px 25px;
}

.u-section-4 .u-image-5 {
  width: 197px;
  height: 197px;
  background-image: url("images/igor1.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-10 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  margin: 47px auto 0;
}

.u-section-4 .u-text-11 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-4 .u-social-icons-5 {
  height: 23px;
  min-height: 16px;
  width: 56px;
  min-width: 42px;
  margin: 30px auto 0;
}

.u-section-4 .u-icon-9 {
  height: 0;
}

.u-section-4 .u-icon-10 {
  height: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1364px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 843px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1915px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 11.5px) calc(50% - 11.5px);
    min-height: 1675px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1895px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 438px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 55px auto 0;
}

.u-section-5 .u-text-2 {
  width: 638px;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 26px auto 55px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 154px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 116px;
  height: 83px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 154px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 128px;
  height: 93px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 127px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 127px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 162px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 162px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1031px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 49px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 365px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 230px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 230px;
  }
}