 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3735px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: 300;
  font-family: Amiko;
  margin: 63px 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 3476px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 22px 0;
}

.u-section-1 .u-image-1 {
  width: 235px;
  height: 235px;
  object-position: 95.96% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-family: Amiko;
  margin: -235px 0 0 265px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-1 .u-btn-1 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 22px 0;
}

.u-section-1 .u-image-2 {
  width: 235px;
  height: 235px;
  object-position: 11.7% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  font-family: Amiko;
  margin: -235px 0 0 265px;
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-1 .u-btn-2 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 22px 0;
}

.u-section-1 .u-image-3 {
  width: 235px;
  height: 235px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  font-family: Amiko;
  margin: -235px 0 0 265px;
}

.u-section-1 .u-text-7 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-1 .u-btn-3 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 22px 0;
}

.u-section-1 .u-image-4 {
  width: 235px;
  height: 235px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 2.25rem;
  font-family: Amiko;
  margin: -235px 0 0 265px;
}

.u-section-1 .u-text-9 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-1 .u-btn-4 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 22px 0;
}

.u-section-1 .u-image-5 {
  width: 235px;
  height: 235px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 2.25rem;
  font-family: Amiko;
  margin: -235px 0 0 265px;
}

.u-section-1 .u-text-11 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-1 .u-btn-5 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 30px 22px 0;
}

.u-section-1 .u-image-6 {
  width: 235px;
  height: 235px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 2.25rem;
  font-family: Amiko;
  margin: -235px 0 0 265px;
}

.u-section-1 .u-text-13 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-1 .u-btn-6 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 30px 22px 0;
}

.u-section-1 .u-image-7 {
  width: 235px;
  height: 235px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-14 {
  font-size: 2.25rem;
  font-family: Amiko;
  margin: -235px 0 0 265px;
}

.u-section-1 .u-text-15 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-1 .u-btn-7 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 30px 22px 0;
}

.u-section-1 .u-image-8 {
  width: 235px;
  height: 235px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-16 {
  font-size: 2.25rem;
  font-family: Amiko;
  margin: -235px 0 0 265px;
}

.u-section-1 .u-text-17 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-1 .u-btn-8 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-list-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 30px 22px 0;
}

.u-section-1 .u-image-9 {
  width: 235px;
  height: 235px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-18 {
  font-size: 2.25rem;
  font-family: Amiko;
  margin: -235px 0 0 265px;
}

.u-section-1 .u-text-19 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-1 .u-btn-9 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-list-item-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 30px 22px 0;
}

.u-section-1 .u-image-10 {
  width: 235px;
  height: 235px;
  object-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-20 {
  font-size: 2.25rem;
  font-family: Amiko;
  margin: -235px 0 0 265px;
}

.u-section-1 .u-text-21 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-1 .u-btn-10 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-list-item-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 30px 22px 0;
}

.u-section-1 .u-image-11 {
  width: 235px;
  height: 235px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-22 {
  font-size: 2.25rem;
  font-family: Amiko;
  margin: -235px 0 0 265px;
}

.u-section-1 .u-text-23 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-1 .u-btn-11 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-list-item-12 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 30px 22px 0;
}

.u-section-1 .u-image-12 {
  width: 235px;
  height: 235px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-24 {
  font-size: 2.25rem;
  font-family: Amiko;
  margin: -235px 0 0 265px;
}

.u-section-1 .u-text-25 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-1 .u-btn-12 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-list-item-13 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 30px 22px 0;
}

.u-section-1 .u-image-13 {
  width: 235px;
  height: 235px;
  object-position: 15.96% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-26 {
  font-size: 2.25rem;
  font-family: Amiko;
  margin: -235px 0 0 265px;
}

.u-section-1 .u-text-27 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-1 .u-btn-13 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-list-item-14 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px 30px 22px 0;
}

.u-section-1 .u-image-14 {
  width: 235px;
  height: 235px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-28 {
  font-size: 2.25rem;
  font-family: Amiko;
  margin: -235px 0 0 265px;
}

.u-section-1 .u-text-29 {
  font-size: 2.25rem;
  margin: 20px 0 0 265px;
}

.u-section-1 .u-btn-14 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-btn-1 {
    margin: 20px auto 0 274px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-btn-2 {
    margin: 20px auto 0 274px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-btn-3 {
    margin: 20px auto 0 274px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-btn-4 {
    margin: 20px auto 0 274px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-btn-5 {
    margin: 20px auto 0 274px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-btn-6 {
    margin: 20px auto 0 274px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-btn-7 {
    margin: 20px auto 0 274px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-btn-8 {
    margin: 20px auto 0 274px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-btn-9 {
    margin: 20px auto 0 274px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-btn-10 {
    margin: 20px auto 0 274px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-btn-11 {
    margin: 20px auto 0 274px;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-btn-12 {
    margin: 20px auto 0 274px;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-btn-13 {
    margin: 20px auto 0 274px;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-btn-14 {
    margin: 20px auto 0 274px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-25 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-28 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-29 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 4.0625rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 240px;
    height: 240px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    width: 240px;
    height: 240px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    width: 240px;
    height: 240px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    width: 240px;
    height: 240px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    width: 240px;
    height: 240px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    width: 240px;
    height: 240px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    width: 240px;
    height: 240px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    width: 240px;
    height: 240px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-10 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    width: 240px;
    height: 240px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-11 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-11 {
    width: 240px;
    height: 240px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-12 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-12 {
    width: 240px;
    height: 240px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-13 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-13 {
    width: 240px;
    height: 240px;
  }

  .u-section-1 .u-text-26 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-14 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-14 {
    width: 240px;
    height: 240px;
  }

  .u-section-1 .u-text-28 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-29 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-12 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-14 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-16 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-18 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-20 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-21 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-22 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-23 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-24 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-25 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-26 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-27 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-28 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .u-section-1 .u-text-29 {
    font-size: 1.5rem;
  }
}