 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1051px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 63px 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 883px;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 22px 0;
}

.u-section-1 .u-image-1 {
  width: 235px;
  height: 235px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: -235px 0 0 265px;
}

.u-section-1 .u-text-3 {
  margin-left: 265px;
  margin-right: 0;
  font-size: 2.25rem;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 22px 0;
}

.u-section-1 .u-image-2 {
  width: 235px;
  height: 235px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  margin: -235px 0 0 265px;
}

.u-section-1 .u-text-5 {
  margin-left: 265px;
  margin-right: 0;
  font-size: 2.25rem;
  margin-bottom: 0;
}

.u-section-1 .u-btn-2 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 22px 0;
}

.u-section-1 .u-image-3 {
  width: 235px;
  height: 235px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 3rem;
  margin: -235px 0 0 265px;
}

.u-section-1 .u-text-7 {
  margin-left: 265px;
  margin-right: 0;
  font-size: 2.25rem;
  margin-bottom: 0;
}

.u-section-1 .u-btn-3 {
  margin-left: 265px;
  margin-right: 265px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 274px;
  }

  .u-section-1 .u-btn-1 {
    margin: 20px auto 0 274px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-left: 274px;
  }

  .u-section-1 .u-btn-2 {
    margin: 20px auto 0 274px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 274px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-left: 274px;
  }

  .u-section-1 .u-btn-3 {
    margin: 20px auto 0 274px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 263px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 263px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1930px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 4.0625rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 240px;
    height: 240px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 240px;
    height: 240px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    width: 240px;
    height: 240px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }
}