.u-section-1 .u-sheet-1 {
  min-height: 287px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 60px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 59px;
    margin-bottom: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 41px;
    margin-bottom: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 174px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 121px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 21px;
    margin-bottom: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 460px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 780px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/IMG_0166.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-group-1 {
  min-height: 265px;
  height: auto;
  width: 265px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  margin: 0 auto;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 30px auto 0;
  padding: 13px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/IMG-20240409-WA0001.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-group-2 {
  min-height: 265px;
  height: auto;
  width: 265px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  margin: 0 auto;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 30px auto 0;
  padding: 13px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/PXL_20240326_181239780.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-group-3 {
  min-height: 265px;
  height: auto;
  width: 265px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: normal;
  margin: 0 auto;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 30px auto 0;
  padding: 13px;
}

.u-section-2 .u-image-4 {
  background-image: url("images/WhatsAppImage2024-03-13at08.11.19.jpeg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-group-4 {
  min-height: 265px;
  height: auto;
  width: 265px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: normal;
  margin: 0 auto;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 30px auto 0;
  padding: 13px;
}

.u-section-2 .u-image-5 {
  background-image: url("images/203caa7a-840c-4a47-a358-413f23b83c59.jpg");
  background-position: 10.25% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 10px;
}

.u-section-2 .u-group-5 {
  min-height: 265px;
  height: auto;
  width: 265px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: normal;
  margin: 0 auto;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 30px auto 0;
  padding: 13px;
}

.u-section-2 .u-image-6 {
  background-image: url("images/10a3e25f-aae1-45a6-a87a-403a12a8a8fd.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 10px;
}

.u-section-2 .u-group-6 {
  min-height: 265px;
  height: auto;
  width: 265px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-weight: normal;
  margin: 0 auto;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 30px auto 0;
  padding: 13px;
}

.u-section-2 .u-image-7 {
  background-image: url("images/6854314e-6500-4761-aafd-74819edb1206.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 10px;
}

.u-section-2 .u-group-7 {
  min-height: 265px;
  height: auto;
  width: 265px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-weight: normal;
  margin: 0 auto;
}

.u-section-2 .u-icon-7 {
  width: 64px;
  background-image: none;
  height: 64px;
  margin: 30px auto 0;
  padding: 13px;
}

.u-section-2 .u-image-8 {
  background-image: url("images/IMG_63331.jpeg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 10px;
}

.u-section-2 .u-group-8 {
  min-height: 265px;
  height: auto;
  width: 265px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  margin: 0 auto;
}

.u-section-2 .u-icon-8 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 30px auto 0;
  padding: 13px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    min-height: 647px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }

  .u-section-2 .u-group-6 {
    height: auto;
  }

  .u-section-2 .u-group-7 {
    height: auto;
  }

  .u-section-2 .u-group-8 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1011px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }
}