.u-section-1 .u-sheet-1 {
  min-height: 1321px;
}

.u-section-1 .u-text-1 {
  width: 804px;
  font-size: 3rem;
  font-family: Amiko;
  margin: 70px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: normal;
  font-family: Amiko;
  margin: 20px 168px 0;
}

.u-section-1 .u-list-1 {
  margin-top: 35px;
  margin-bottom: 2px;
  grid-template-rows: repeat(1, auto);
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 1015px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 355px;
  object-position: 50% 0%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 355px;
  object-position: 50% 0%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 355px;
  object-position: 50% 0%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 355px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-family: Amiko;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 355px;
  object-position: 50% 0%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-11 {
  font-family: Amiko;
  margin: 20px 0 0;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 355px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 68px;
    margin-right: 68px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -150px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 836px;
  }

  .u-section-1 .u-image-1 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1777px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -93px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1454px;
  }

  .u-section-1 .u-image-1 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4707px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -23px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3419px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 47px;
  }

  .u-section-1 .u-image-1 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-block-c619-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-c619-3 {
  position: absolute;
  left: 0;
}

.u-block-c619-4 {
  position: absolute;
  right: 0;
}

 .u-section-2-1 {
  background-image: linear-gradient(white, #0f387a);
}

.u-section-2-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2-1 .u-group-1 {
  width: 890px;
  min-height: 454px;
  margin: 20px auto;
}

.u-section-2-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2-1 .u-icon-1 {
  height: 100px;
  width: 100px;
  margin: 8px auto 0;
}

.u-section-2-1 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
  font-family: Amiko;
  margin: 20px 0 0;
}

.u-section-2-1 .u-text-2 {
  font-family: Amiko;
  margin: 45px 0 0;
}

.u-section-2-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Amiko;
  margin: 20px 0 0;
}

@media (max-width: 991px) {
  .u-section-2-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-group-1 {
    width: 540px;
  }

  .u-section-2-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-group-1 {
    width: 340px;
  }
}

 .u-section-2-2 {
  background-image: linear-gradient(white, #0f387a);
}

.u-section-2-2 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2-2 .u-group-1 {
  width: 890px;
  min-height: 454px;
  margin: 20px auto;
}

.u-section-2-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2-2 .u-icon-1 {
  height: 100px;
  width: 100px;
  margin: 8px auto 0;
}

.u-section-2-2 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
  font-family: Amiko;
  margin: 20px 0 0;
}

.u-section-2-2 .u-text-2 {
  font-family: Amiko;
  margin: 45px 0 0;
}

.u-section-2-2 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Amiko;
  margin: 20px 0 0;
}

@media (max-width: 991px) {
  .u-section-2-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-group-1 {
    width: 340px;
  }
}

 .u-section-2-3 {
  background-image: linear-gradient(white, #0f387a);
}

.u-section-2-3 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2-3 .u-group-1 {
  width: 890px;
  min-height: 454px;
  margin: 20px auto;
}

.u-section-2-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2-3 .u-icon-1 {
  height: 100px;
  width: 100px;
  margin: 8px auto 0;
}

.u-section-2-3 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
  font-family: Amiko;
  margin: 20px 0 0;
}

.u-section-2-3 .u-text-2 {
  font-family: Amiko;
  margin: 45px 0 0;
}

.u-section-2-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Amiko;
  margin: 20px 0 0;
}

@media (max-width: 991px) {
  .u-section-2-3 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-group-1 {
    width: 540px;
  }

  .u-section-2-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-group-1 {
    width: 340px;
  }
}

 .u-section-2-4 {
  background-image: linear-gradient(white, #0f387a);
}

.u-section-2-4 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2-4 .u-group-1 {
  width: 890px;
  min-height: 454px;
  margin: 20px auto;
}

.u-section-2-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2-4 .u-icon-1 {
  height: 100px;
  width: 100px;
  margin: 8px auto 0;
}

.u-section-2-4 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
  font-family: Amiko;
  margin: 20px 0 0;
}

.u-section-2-4 .u-text-2 {
  font-family: Amiko;
  margin: 45px 0 0;
}

.u-section-2-4 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Amiko;
  margin: 20px 0 0;
}

@media (max-width: 991px) {
  .u-section-2-4 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2-4 .u-group-1 {
    width: 540px;
  }

  .u-section-2-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2-4 .u-group-1 {
    width: 340px;
  }
}

 .u-section-2-5 {
  background-image: linear-gradient(white, #0f387a);
}

.u-section-2-5 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2-5 .u-group-1 {
  width: 890px;
  min-height: 454px;
  margin: 20px auto;
}

.u-section-2-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2-5 .u-icon-1 {
  height: 100px;
  width: 100px;
  margin: 8px auto 0;
}

.u-section-2-5 .u-text-1 {
  font-size: 1.125rem;
  line-height: 2;
  font-weight: 700;
  font-family: Amiko;
  margin: 20px 0 0;
}

.u-section-2-5 .u-text-2 {
  font-family: Amiko;
  margin: 45px 0 0;
}

.u-section-2-5 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Amiko;
  margin: 20px 0 0;
}

@media (max-width: 991px) {
  .u-section-2-5 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2-5 .u-group-1 {
    width: 540px;
  }

  .u-section-2-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2-5 .u-group-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 258px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-family: Amiko;
  margin: 80px auto 0;
}

.u-section-3 .u-text-2 {
  text-transform: none;
  line-height: 1.4;
  font-size: 1.125rem;
  font-family: Amiko;
  width: 480px;
  margin: 20px auto 60px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}