    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About AANCM</h2>
                <h6>Who we are</h6>
                <p>At AANCM, we are committed to supporting individuals and organizations with their negotiation challenges. 
                    We are passionate about negotiation and dispute resolution, and we believe in the power of collaboration 
                    and introspection to achieve mutually beneficial solutions.</p>
                <h6>What we offer</h6>
                <p>We understand that there are many pressing situations in both professional and private contexts that require
                    the ability to communicate effectively and where negotiation is key. Our community offers an environment to 
                    exchange knowledge, learn new skills, and network with other like-minded people and experts.</p>
                <h6>What we believe</h6>
                <p>AANCM was founded with the belief that everyone can make a difference by learning about negotiation and putting 
                    the concepts into practice, no matter what their background is: educators, engineers, lawyers, entrepreneurs, 
                    sales, HR, healthcare professionals, students, (project) managers, and business owners - the list is endless.</p>
            </div>
        </div>
    </section>