---
//import Offerings from "../sections/Offerings.astro";
//import DefaultLayout from "../layouts/main.astro";

import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import "@fontsource/amiko";

import logoBottom from "./AANCM_Bottom.svg";
---

<html lang="en" class="font-amiko">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <DefaultLayout
      title="Home - Austrian Association for Negotiation and Conflict Management"
    >
      <div class="grid grid-cols-1 place-items-center gap-20">
        <Offerings />
      </div>
    </DefaultLayout>
  </body>
</html>
