---
import PlaceHolder from "./placeholder.svg";
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
---

<div class="">
  <div class="mb-8 max-w-xl">
    <h1 class="mb-4 text-3xl font-bold text-primary-500">Events</h1>
    <p class="text-pretty text-neutral-800">
      Lorem ipsum odor amet, consectetuer adipiscing elit. Fermentum tincidunt a
      porttitor per; nullam luctus elit justo?
    </p>
  </div>
  <div
    class="grid grid-cols-1 justify-items-center gap-8 lg:grid-cols-3 lg:justify-items-start lg:gap-8"
  >
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-1">
      <a href="/courses/next/">
        <div
          class="flex aspect-square max-w-[330px] flex-col justify-between rounded-md border border-neutral-100 p-6 shadow-md shadow-neutral-100"
        >
          <div class="flex items-center justify-between">
            <p class="text-2xl font-semibold text-primary-300">Courses</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="hsl(217 70% 32%)"
              class="size-20"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5M9 11.25v1.5M12 9v3.75m3-6v6"
              ></path>
            </svg>
          </div>
          <p class="text-neutral-800">
            Get better at navigating conflict and improve your negotiating
            skills.
          </p>
          <div class="place-self-end">
            <Button>Sign up now!</Button>
          </div>
        </div>
      </a>

      <a href="/courses/next/">
        <div
          class="flex aspect-square max-w-[330px] flex-col justify-between rounded-md border border-neutral-100 p-6 shadow-md shadow-neutral-100"
        >
          <div class="flex items-center justify-between">
            <p class="text-2xl font-semibold text-primary-300">Stammtisch</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="hsl(217 70% 32%)"
              class="size-20"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"
              ></path>
            </svg>
          </div>
          <p class="text-neutral-800">
            Network, be a part of the community or just come to hang out!
          </p>
          <div class="place-self-end">
            <Button style="">Sign up now!</Button>
          </div>
        </div>
      </a>
    </div>
    <Image
      alt=""
      src={PlaceHolder}
      class="w-full rounded-md shadow-md shadow-neutral-100 lg:col-span-2"
    />
  </div>
</div>
