---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
  </head>
  <body class="flex flex-col place-items-center gap-20 bg-primary-50">
    <!-- TODO: navbar -->
    <div class="h-20 w-screen bg-primary-500"></div>
    <div class="max-w-[330px] space-y-20 md:max-w-[660px] lg:max-w-[990px]">
      <slot />
    </div>
    <!-- TODO: footer -->
    <div class="h-40 w-screen bg-primary-500"></div>
  </body>
</html>
